.table {
  table-layout: fixed;
  width: 100%;
}

.table,
.th,
.td {
  border: 1px solid black;
}

.table .th {
  cursor: pointer;
}

.default-pagination {
  max-width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  font-size: 24px;
}

.default-pagination .dp-back-btn,
.default-pagination .dp-forward-btn {
  cursor: pointer;
  align-self: center;
}

.default-pagination .page-count {
  cursor: pointer;
}